html {
    scroll-behavior: smooth;
}
 
body { 
    /* background-image: linear-gradient(#42287C, #714091); */
    background-image: url("../imgs/bg.jpg"); 
    color: white;
    padding-top: 80px;
    background-size: cover;
}

.btn-primary {
    border-radius: 6.25rem;
    color: #fff;
    background-color: #25a1a8;
    border-color: #25a1a8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #007a7a;
    border-color: #007a7a;
}

.spacer {
    height: 50px;
}

#header {
    text-align: center;
}
#header a img{
    width: 20%;
}

#navigation {
    padding: 15px;
}
#navigation a {
    color: white;
}
#navigation a:hover {
    color: #008796;
}
#navigation a.active {
    color: #008796;
}

#info {
    padding: 30px 65px;
    text-align: center;
    color: white;
}

#tools {
    text-align: center;
}
#tools .tools-container {
    padding: 15px 25%;
}
#tools .cv-container {
    padding: 20px;
}
#tools .cv-container img {
    width: 30%;
}

#footer {
    padding: 25px 30%;
}
#footer .icon img {
    width: 100%;
}

.icon:hover {
    transform: scale(0.8);
}

.icon:active {
    transform: scale(0.6);
}

#bio .bio-detail {
    text-align: center;
    padding: 120px 515px;
}

.project{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.project:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.project .project-preview{
    transition: all 1s;
    position: absolute;
    left: 0;
    z-index: 999;
}
.project:hover .project-preview.slide-left {
    transform: translateX(-100%);
}

.project:hover .project-preview.slide-right {
    transform: translateX(100%);
}

.project-details {
    padding: 7px 0;
}

.project-details img {
    padding: 5px;
}

.project-details .project-details-description {
    transition: all 0.5s ease;
    padding: 10px;
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-image: url("../imgs/splat.png");
}

.project-details-decription-inner {
    padding: 120px 35px;
}

.project-details-description h1 {
    font-size: 3vmax;
}
.project-details-description h2 {
    font-size: 2vmax;
}

.project-details-description h3 {
    padding-top: 50px;
    font-size: 1.8vmax;
}
.project-details-description p {
    font-size: 1.3vmax;
    text-align: justify;
}

.secondary-project {
    cursor: pointer;
}
.secondary-project .secondary-project-details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #462076;
    padding: 20px;
    transform: scale(0);
    transition: all .3s ease;
}
.secondary-project .secondary-project-details h2{
    font-size: 2vmax;
}
.secondary-project .secondary-project-details p{
    font-size: 1.3vmax;
    text-align: justify;
}
.secondary-project:hover .secondary-project-details {
    transform: scale(1);
}

#info p {
    padding: 0 100px;
}