body {
    background-image: linear-gradient(#42287C, #714091);
    color: white;
    padding-top: 80px;
}

#header {
    text-align: center;
}
#header a img{
    width: 20%;
}

#navigation {
    padding: 15px;
}
#navigation a {
    color: white;
}
#navigation a:hover {
    color: #008796;
}
#navigation a.active {
    color: #008796;
}

#info {
    padding: 30px 65px;
    text-align: center;
    color: white;
}
#info h2 {
    font-family: 'Great Vibes', cursive;
}

#tools {
    text-align: center;
}
#tools h1 {
    font-family: 'Great Vibes', cursive;
}
#tools .tools-container {
    padding: 15px 25%;
}
#tools .cv-container {
    padding: 20px;
}
#tools .cv-container img {
    width: 30%;
}

#footer {
    padding: 25px 30%;
}
#footer .icon img {
    width: 100%;
}

#bio .bio-detail {
    margin: auto;
    font-size: 9pt;
    padding: 0 40px;
}

.project{
    cursor: pointer;
}

.project .project-preview{
    transition: all 1s;
    position: absolute;
    left: 0;
    z-index: 999;
}
.project:hover .project-preview.slide-left {
    transform: translateX(-100%);
}

.project:hover .project-preview.slide-right {
    transform: translateX(100%);
}

.project-details {
    padding: 10px;
}

.project-details img {
    padding: 5px;
}

.project-details-description {
    transition: all 0.5s ease;

    text-align: center;
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-image: url("../imgs/splat.png");
}